body{
  position: relative;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    overflow: hidden;
  }

  .esquerda, .direita{
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: end;
    justify-content: end;
  }

  .mesa-inf{
    color:white;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background: RGBA(0,0,0,0.5);
    padding-bottom: 10px;
  }
  .mesa-sup{
    color:white;
    margin-top:10px;
    margin-bottom:0px;
    right:0;
  }
  .destaque{
    color:white;
  }
  .titulo{
    font-size:1.2em;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .botao{
    width:25px;
    padding: 10px;
    padding-top: 10px;
    background: RGBA(0,0,0,0.5);
  } 
  .reiniciar{ 
    border-top: 1px solid #888;
    padding-bottom: 10px;
    display:none;
  }
  .espaco{
    padding-bottom: 8px;
  }
  .container-inicio{
    color: #888;
    top: 0;
    letter-spacing: 1px;
    font-family: 'Share Tech Mono', monospace;
  }
  .contem-inicio{
    color:#888;
    position:absolute;
    text-align: right;
  }

  .box{
    padding: 0 5px;
    align-items: end;
    justify-content:center;
    height:100%;
    font-family: 'Share Tech Mono', monospace;
    display:flex;
    -webkit-display:flex;

    -webkit-align-items:end;
    -webkit-justify-content:center;
  }
  .tela, .container-mesa{
    position:absolute;
  }
  .texto{
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.9em;
  } 

  .instrucao, .versao{
    display:none;
  }
  .texto-sobre{
    width:70%;
  }
  .mesa-sup{
    top: 0;
    margin-right:10;
  }
  .about-window{
    display:none;
    width:100%;
    height:100%;
    background:RGBA(0,0,0,0.8);
    position: absolute;
  }
  .texto-sobre{
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    position: absolute;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 110%;
  }
  .esquerda{
height: 43.45px;
display: flex;
align-items: center;
font-family: 'Share Tech Mono', monospace;
    font-size: 0.9em;
  }
  .direita{
    display: flex;
    align-items: center;
    height:45.85px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.9em;
  }
  .container-grid{
    display: block;
    color: white;
    margin-top: 10px;
    align-items: center;
    margin-right:10px;    
  }
  .texto-sobre > .titulo{
    font-size:1.5em;
  }
  .espaco {
    display: flex;
    display: -webkit-flex;
   }
  @media (min-width: 200px) and (orientation: portrait){
    .container-inicio{
      text-align: center;
      margin-top: 30%;
    }
    .contem-inicio{
      text-align:center;
    }
  }
  @media (min-width: 200px) and (orientation: landscape){
    .container-inicio{    
      text-align: right;    
      height: 50%;    
      margin-left: -110px;    
    }        
    .contem-inicio{
      left: 0;
    }   
  }
